<html>
<head>
<title>nDeploy</title>
</head>
<body>
  <a href="ndeploy.live.cgi"><img border="0" src="nDeploy.png" alt="nDeploy"></a>
  <HR>
  <p style="background-color:LightGrey">CONFIGURE: {{ DOMAIN }}</p>
  <HR>
  <form action="update.live.cgi" method="post">
    <p style="background-color:LightGrey">Select backend version: </p>
    <select name="version" size="5">
      {% for key, value in BACKENDS.iteritems() %}<option value="{{ key }}"{% if BACKEND_VERSION == key %} selected{% endif %}>{{ key }}</option>{% endfor %}
    </select>
    <HR>
    <p style="background-color:LightGrey">Select a configuration template: </p>
    <select name="pcode" size="5">
      {% for key,value in PROFILES.iteritems() %}<option value="{{ key }}"{% if APPTEMPLATE_CODE == key %} selected{% endif %}>{{ value }}</option>{% endfor %}
    </select>
    <HR>
    <p style="background-color:LightGrey">Redirect from http to https: </p>
      <label><input type="radio" name="redirecttossl" value="enabled" {% if REDIRECTTOSSL == 'enabled' %}checked{% endif %}/> YES</label>
      <label><input type="radio" name="redirecttossl" value="disabled" {% if REDIRECTTOSSL == 'disabled' %}checked{% endif %}/> NO</label>
    <HR>
    <p style="background-color:LightGrey">Enable HTTP/2: </p>
      <label><input type="radio" name="http2" value="enabled" {% if HTTP2 == 'enabled' %}checked{% endif %}/> YES</label>
      <label><input type="radio" name="http2" value="disabled" {% if HTTP2 == 'disabled' %}checked{% endif %}/> NO</label>
    <HR>
    <p style="background-color:LightGrey">Enable HSTS (<a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">wiki</a>): </p>
      <label><input type="radio" name="hsts" value="enabled" {% if HSTS == 'enabled' %}checked{% endif %}/> YES</label>
      <label><input type="radio" name="hsts" value="disabled" {% if HSTS == 'disabled' %}checked{% endif %}/> NO</label>
    <HR>
    <p style="background-color:LightGrey">Enable nginx test robot: </p>
      <label><input type="radio" name="testcookie" value="enabled" {% if TESTCOOKIE == 'enabled' %}checked{% endif %}/> YES</label>
      <label><input type="radio" name="testcookie" value="disabled" {% if TESTCOOKIE == 'disabled' %}checked{% endif %}/> NO</label>
    <HR>
    
    <input style="display:none" name="domain" value="{{ DOMAIN }}">
    <input style="display:none" name="backend" value="{{ BACKEND }}">
    <input type="submit" value="GENERATE">
  </form>
</body>
</html>
 
