root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

{% if TESTCOOKIE == 'enabled' %}include /etc/nginx/testcookie/testcookie_aes_locations.conf;{% endif %}

location / {
	{% if TESTCOOKIE == 'enabled' %}testcookie on;{% endif %}
	try_files $uri $uri/ /index.php?q=$uri&$args;
}

location ~* ^.+\.(jpg|jpeg|gif|png|ico|css|js|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|bmp|rtf|swf)$ {
	try_files $uri =404;
	
	expires 31d;
	
	# access_log /usr/local/apache/domlogs/{{ DOMAINNAME }} main;
	# add_header X-Server "by nginx";
	error_page 404 = @fallback;
}

location ~ \.php$ {
	{% if TESTCOOKIE == 'enabled' %}testcookie on;{% endif %}
	try_files $uri =404;
	fastcgi_pass unix:{{ SOCKETFILE }};
	fastcgi_index index.php;
	include /etc/nginx/fastcgi_params;
}

location @fallback {
	{% if TESTCOOKIE == 'enabled' %}testcookie on;{% endif %}
	fastcgi_pass unix:{{ SOCKETFILE }};
	fastcgi_index index.php;
	include /etc/nginx/fastcgi_params;
}