# LoadModule remoteip_module modules/mod_remoteip.so
<IfModule remoteip_module>
  RemoteIPHeader X-Forwarded-For
  RemoteIPInternalProxy 127.0.0.1{% for MYIP in CPIPLIST %} {{ MYIP }}{% endfor %}
</IfModule>

<IfModule log_config_module>
  LogFormat "%{Referer}i -> %U" referer
  LogFormat "%{User-agent}i" agent
  LogFormat "%a %l %u %t \"%r\" %>s %b" common
  LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  CustomLog logs/access_log combined
</IfModule>

SetEnvIf X-Forwarded-Proto https HTTPS=on