server {
	listen {{ CPANELIP }}:80;
	{% if IPVSIX %}listen [{{ CPIPVSIX }}]:80;{% endif %}
	# CPIPVSIX:80;
	
	server_name {{ DOMAINLIST }};
	access_log /usr/local/apache/domlogs/{{ DOMAINNAME }} main;
	access_log /usr/local/apache/domlogs/{{ DOMAINNAME }}-bytes_log bytes_log;
	disable_symlinks if_not_owner from={{ DOCUMENTROOT }};
	
	location ~ \.txt$ {
		root {{ DOCUMENTROOT }};
	}
	{% if REDIRECTTOSSL == 'enabled' %}location / {
		return 301 https://$host$request_uri;
	}{% else %}include /etc/nginx/sites-enabled/{{ DOMAINNAME }}.include;{% endif %}
}

{% if SSL == 'enabled' %}
server {
	listen {{ CPANELIP }}:443 ssl;
	{% if IPVSIX %}listen [{{ CPIPVSIX }}]:443 ssl;{% endif %}
	#CPIPVSIX:443;
	
	http2 on;
	
	server_name {{ DOMAINLIST }};
	access_log /usr/local/apache/domlogs/{{ DOMAINNAME }}-bytes_log bytes_log;
	access_log /usr/local/apache/domlogs/{{ DOMAINNAME }}-ssl_log main;
	disable_symlinks if_not_owner from={{ DOCUMENTROOT }};
	
	ssl_certificate {{ CPANELSSLCRT }};
	{% if CPANELSSLKEY %}ssl_certificate_key {{ CPANELSSLKEY }};{% endif %}
	{% if HSTS == 'enabled' %}add_header Strict-Transport-Security "max-age=31536000" always;{% endif %}
	{% if not SSLSTAPLING %}ssl_stapling off;{% endif %}
	
	proxy_ssl_name $host;
	include /etc/nginx/sites-enabled/{{ DOMAINNAME }}.ssl.include;
}
{% endif %}
