upstream http_127.0.0.1 {
	keepalive 10;
	server 127.0.0.1:8000 max_conns=10;
}

{% for ip in CPIPLIST %}
upstream http_{{ ip }} {
	keepalive 70;
	server {{ ip }}:8000 max_conns=1000;
}
{% endfor %}

{% for ip in CPIPLIST %}
upstream https_{{ ip }} {
	keepalive 100;
	server {{ ip }}:4430 max_conns=1000;
}
{% endfor %}

proxy_http_version 1.1;
proxy_set_header Connection "";
keepalive_requests 1000;
