[Unit]
Description=The PHP FastCGI Process Manager ({PHPVERSION})
After=network.target

[Service]
Type=simple
PIDFile={PHPPATH}/var/run/php-fpm.pid
ExecStartPre={PHPPATH}/sbin/php-fpm --test --fpm-config /opt/nDeploy/conf/php-fpm.conf
ExecStart={PHPPATH}/sbin/php-fpm --nodaemonize --fpm-config /opt/nDeploy/conf/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
Restart=no

[Install]
WantedBy=multi-user.target